<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zeiterfassung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="STUTE.Database.Properties.db" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="STUTE.Database.Properties.db.ConnectionString"
        connectionString="Data Source=KOE-DLZ-SQL-001.stute.loc;Initial Catalog=Personal;Persist Security Info=True;User ID=sa;Password=sqlserver;Connect Timeout=120;Application Name=Zeiterfassung" />
  </connectionStrings>
  <applicationSettings>
    <Zeiterfassung.Properties.Settings>
      <setting name="Titel" serializeAs="String">
        <value>Zeiterfassung</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1.8</value>
      </setting>
      <setting name="Build" serializeAs="String">
        <value>$Revision: 397 $</value>
      </setting>
      <setting name="BuildDate" serializeAs="String">
        <value>$Date: 2015-05-12 19:35:40 +0200 (Di, 12. Mai 2015) $</value>
      </setting>
    </Zeiterfassung.Properties.Settings>
    <STUTE.Database.Properties.db>
      <setting name="SQLOut" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>100</value>
      </setting>
    </STUTE.Database.Properties.db>
  </applicationSettings>
</configuration>