<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zeiterfassung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zeiterfassung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Zeiterfassung.Properties.Settings.ConnectionString"
            connectionString="Data Source=KOE-DLZ-SQL-001.stute.loc;Initial Catalog=Personal;Persist Security Info=True;User ID=sa;Password=sqlserver;Connect Timeout=120;Application Name=Zeiterfassung" />
    </connectionStrings>
    <applicationSettings>
        <Zeiterfassung.Properties.Settings>
            <setting name="Titel" serializeAs="String">
                <value>Zeiterfassung</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="DebugApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>240</value>
            </setting>
        </Zeiterfassung.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Zeiterfassung.Properties.Settings>
            <setting name="Build" serializeAs="String">
                <value>$Revision: 395 $</value>
            </setting>
            <setting name="BuildDate" serializeAs="String">
                <value>$Date: 2015-05-05 15:40:59 +0200 (Di, 05. Mai 2015) $</value>
            </setting>
        </Zeiterfassung.Properties.Settings>
    </userSettings>
</configuration>